
::selection {
    color:#fff;
    background-color: #8ca84d ;
}

::-moz-selection {
    color:#fff;
    background-color: #8ca84d ;
}

::-webkit-selection {
    color:#fff;
    background-color: #8ca84d;
}

li{
    list-style: none;
}
p {
    margin: 0 0 2px 0;
}
.wrapper{
    margin-top: 60px;
}
.active{
    margin-top:8px;
}
.change{
    font-size: 10px;
}
/*
**涓婚鍚嶇О:Elegant *
**CSS璁捐鍘熶綔鑰�:鎹烽棯绔欓暱缃� (璇峰嬁鍒犳敼) *
**涓婚鍦板潃:http://www.z18zs.com *
**/

/* chushihua */

img{max-width:100%;height:auto;width:auto\9;border:0;vertical-align:middle;}
dd,div,dl,dt,form,h1,h2,h3,h4,h5,img,input,label,p,span,textarea,ul,figure{margin:0;padding:0;outline:0;}
.clear{clear:both;}

.am-titlebar-multi{margin:0;}
.am-container{max-width:1160px;padding:0 8px!important;}
.right{margin-right:2px;}
.clearfix:before,
.clearfix:after,.rigth ul:after{content:" "; display:table;}
.clearfix:after,.rigth ul:after{clear:both;}
.clearfix{zoom: 1;}

/*Sidebar*/
.widget{clear:both;position:relative;margin-bottom:15px;background-color:#fff;border-radius:4px;border:1px solid #eaeaea;overflow:hidden;}
.widgets{border:0 !important;}
.widget h3{/*background:#f8f8f8;*/height:40px;line-height:40px;border-bottom:1px solid #ddd;}
.widget h3 i{float:left;width:40px;height:40px;font-size:18px;color:#b44d0c;line-height:40px;text-align:center;margin:0 10px 0 0;padding:1px 0;border-right:1px solid #ddd;border-radius:2px 0 0 0;}
.widget .mod{overflow:hidden;padding:15px;}
#divTags li{display:inline-block;}
#divTags dd,#divrandtag dd{padding:0;margin:0;}
#divTags dd ul{padding:5px 0 0 5px;}
#divTags ul a{padding:0 9px;margin:0 5px 5px 0;background:#0099cc;color:#fff;display:inline-block;border-radius:2px;line-height:28px;height:28px;}
#divTags ul a:hover{background:#333;color:#fff;}
/*.tags0{background-color:#efac82!important;} */

#tbCalendar{background-color:#fff;border:1px solid #efefef;width:100%;}
#tbCalendar caption{text-align:center;font-size:16px;padding:4px 0;border:1px solid #efefef;border-bottom:0;background-color:#fff;}
#tbCalendar tbody tr td,#tbCalendar thead tr th{text-align:center;padding:8px 0;border:1px solid #efefef;}
#tbCalendar tbody tr td a{color:#fff;}
#divPrevious dl{overflow:hidden;margin:0;clear:both;border-bottom:1px dotted #e5e5e5;overflow:hidden;margin-top:8px !important;padding:10px;}
#divPrevious dt.titlename{overflow:hidden;float:left;margin-right:15px}
#divPrevious a{display:block;overflow:hidden}
#divPrevious dt img{display:block;width:100px;height:75px;overflow:hidden;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;}
#divPrevious dt img:hover{transform:scale(1.05,1.05);-webkit-transform:scale(1.1,1.1);}
#divPrevious dd{margin:0;}
#divPrevious dd h4{overflow:hidden;height:20px;display:block;margin:0;padding:0;line-height:22px;font-size:14px;font-weight:100;clear:both;}
#divPrevious dd p{overflow:hidden;padding:5px 0 0 0;height:24px;line-height:24px;font-size:14px;color:#505050;white-space:nowrap;text-overflow:ellipsis;margin-top:0px;margin-bottom:0px;}
#divPrevious dd p img{margin-top:-4px;padding:0 2px}
#divPrevious dd p a{color:#505050;clear:both;}
#divPrevious dd p a:hover{text-decoration:underline;}
#divComments dd,#divComments ul,#divzbreaders dd{padding: 0;margin: 0;}
#divComments li{position:relative;width:100%;height:60px;overflow:hidden;padding:10px 10px 10px 60px;border:0;border-top:1px solid #eee;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-image:none;;}
#divComments li:nth-child(1){border-top:0;}
#divComments li span.zb_avatar{position:absolute;left:10px;top:10px;width:40px;height:40px;}
#divComments li small{line-height:20px;height:20px;overflow:hidden;font-size:11px;color:#999;display:block;border:0;margin:0;padding:0;}
#divComments li p{line-height:20px;height:20px;overflow:hidden;font-size:14px;display:block;margin:0 0 3px 0;padding:0;}
#divComments ul,#divCalendar ul,#divPrevious ul{padding:0!important;}
#divCatalog li,#divNavBar li{float: left;width: 49.5% !important;margin: 0 -3px -1px 2px;}
#divCatalog li a,#divNavBar li a{text-align:center;padding:5px 0;display:block;border:1px solid #ddd;}
#divCatalog li a:hover,#divNavBar li a:hover{background:#0e90d2;color:#fff;}
#divSearchPanel form{padding:5px;}

#divLinkage ul,#divFavorites ul,#divStatistics ul{padding:10px;}
#divLinkage ul li,#divFavorites ul li,#divStatistics ul li{float:left;width:50%;height:36px;line-height:36px;overflow:hidden;padding:0 2%;}

/*发表文章*/
#play li{
    cursor: pointer;
}
#play li p + p{
    margin-top: 10px;
}
/*最后*/
.col-md-12.text-center.text-success.extend {
    padding: 23px 0;
}



